amqp==5.0.3
asgiref==3.5.1
astroid==2.4.2
autopep8==1.5.4
billiard
celery==5.0.5
certifi
charset-normalizer==2.0.12
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
colorama==0.4.4
Django==4.0.4
django-cors-headers==3.12.0
django-widget-tweaks
djangorestframework==3.12.2
environ
idna==3.3
importlib-metadata==3.4.0
isort==5.7.0
kombu==5.0.2
lazy-object-proxy==1.4.3
mccabe
#Pillow==9.1.0
prompt-toolkit==3.0.13
#psycopg2-binary==2.9.3
pycodestyle==2.6.0
python-dotenv==0.20.0
pytz
redis==3.5.3
requests==2.27.1
six==1.15.0
sqlparse==0.4.1
stripe==3.0.0
toml
typing-extensions
urllib3
vine
wcwidth
wrapt
zipp
